input.form-control,input.form-control:focus{    
    color: black;
    border-color: black;
    border-radius: 0px;
    border-width: 2px;
}

input.form-control:focus{
    box-shadow: none;
    border-bottom-color: black;
}

button[type=submit].btn{
    border-radius: 20px;
    background-color: #C0C0C0;
    color: #000000;
    border-color: #000000
}

div.form-group label{
    color: black;
    font-weight: bold;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #dc3545;
	padding-left: 5px;
}

#toast-container > div {
    opacity:1;
}

form{
    margin: 0px 16px;
}

div.side-header{
    border:3px solid black;
}

.col-centered{
    margin: 0 auto;
    float: none;
}