<div class="container border border-dark" *ngIf="question">
    <div class="form-row col-md-8" >
      <div class="col-md-12 offset-md-2">
          <app-question [question]="question" [questionIndex]="questionIndex"></app-question>    
      </div>
    </div>
    <div class="form-row mt-4">
      <div class="form-group col-md-2 offset-md-8" >
        <button type="submit" class="btn btn-lg btn-block" *ngIf="questionIndex < (questions.length - 1)" (click)="navigateToNextQuestion()">Next</button>
        <button type="submit" class="btn btn-lg btn-block" *ngIf="questionIndex >= (questions.length - 1)" (click)="submitAnswers()">Submit</button>
      </div>
    </div>
</div>